html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue, Arial";
}
.clear:before,
.clear:after {
  display: table;
  content: '';
  clear: both;
}
.center-helper {
  text-align: center;
}
.content-container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-wrapper {
  background-color: #999999;
}
.header-content {
  float: left;
}
.logo-header {
  width: 10%;
  text-align: right;
}
.logo-header .logo {
  padding: 10px;
}
.logo-header .logo .header-img {
  width: 100%;
}
.menu-wrapper {
  width: 80%;
}
.menu-wrapper .menu {
  list-style: none;
}
.menu-wrapper .menu .menu-item {
  float: left;
  width: 33%;
}
.menu-wrapper .menu .menu-item .menu-link {
  color: #ffffff;
  text-decoration: none;
}
.search-wrapper {
  width: 10%;
}
.search-wrapper .btn-search {
  float: right;
}
.btn {
  height: 33px;
  width: 150px;
  margin: 10px;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8);
  border: none;
  cursor: pointer;
}
.btn.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .6;
}
.btn:hover {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.8);
}
.btn.btn-cancel {
  background-color: #000000;
}
.btn.btn-cancel:hover {
  background-color: #5A5A5A;
}
.btn.btn-checkin {
  background-color: #2DCA6F;
}
.btn.btn-checkin:hover {
  background-color: #006C2D;
}
.btn.btn-reset {
  background-color: #DF0E1D;
}
.btn.btn-reset:hover {
  background-color: #AC1B25;
}
.ct-ignition,
.ct-inspector {
  display: none;
}
.attachment-here {
  margin-bottom: 100px;
}
.attachment-zone {
  padding: 20px;
}
.attachments {
  height: 15em;
  width: 75%;
  margin: 0 auto;
  border: 2px dashed #999999;
  border-radius: 10px;
  padding: 20px;
}
.attachments.dragon {
  animation: pulse 1s 4;
}
.attachments.dragon .dragged-msg {
  display: block;
}
.attachments.dragon .default-msg {
  display: none;
}
.attachments .dragged-msg {
  display: none;
}
.attachments .dragged-msg .attachment-instructions,
.attachments .dragged-msg .attachment-flair:before {
  color: #ffffff;
}
.attachments .attachment-instructions {
  font-size: 2em;
  text-align: center;
  color: #999999;
}
.attachments .attachment-flair {
  display: block;
  text-align: center;
}
.attachments .attachment-flair:before {
  color: #999999;
  font-size: 2em;
}
.attachments input[type=file] {
  display: none;
}
.attachment-preview {
  border-top: 1px solid #999999;
  padding-top: 100px;
  margin-top: 100px;
}
.attachment-preview .attachment-item {
  float: left;
  width: 100%;
}
.attachment-preview .attachment-item > div {
  border: 1px solid #999999;
  margin: 10px;
}
.attachment-preview .attachment-item .attachment-counter {
  color: #444444;
}
.attachment-preview .attachment-item .btn-select-file {
  width: 35%;
  margin-bottom: 20px;
}
.attachment-preview .attachment-item .btn-select-file:hover {
  cursor: pointer;
}
.attachment-preview .attachment-item .btn-select-file .attachment-icon {
  width: 100%;
}
.attachment-preview .attachment-item span {
  display: block;
}
.attachment-preview .high-details {
  text-align: center;
}
@media (max-width: 400px) {
  .attachment-preview .attachment-item {
    width: 100%;
  }
}
@media (min-width: 401px) {
  .attachment-preview .attachment-item {
    width: 50%;
  }
}
@media (min-width: 700px) {
  .attachment-preview .attachment-item {
    width: 33.3%;
  }
}
@keyframes pulse {
  0% {
    background-color: #FFEE71;
  }
  100% {
    background-color: #2DCA6F;
  }
}
.editor {
  min-height: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: #EAEAEA;
  color: #444444;
  padding: 10px;
}
.action-buttons {
  text-align: right;
}
.file-set-container {
  border: 1px solid #999999;
  margin: 50px 10px;
  padding: 10px;
  border-radius: 10px;
}
.file-row > div {
  float: left;
}
.file-row .file-set {
  width: 75%;
}
.file-row .file-action {
  width: 25%;
}
.file-comments-container {
  background-color: #ECECEC;
  padding: 10px;
  border-radius: 10px;
}
.file-comments-container .file-comments-heading {
  font-size: 20px;
  font-weight: bold;
}
