// HIDE EDIT BUTTON
.ct-ignition,
.ct-inspector{
    display:none;
}
.attachment-here{
    margin-bottom: 100px;
}
// ATTACHMENT BOX SECTION
.attachment-zone{
    padding: 20px;
}

// attachment box
.attachments{
    height: 15em;
    width: 75%;
    margin: 0 auto;
    border: 2px dashed #999999;
    border-radius: 10px;
    padding: 20px;

    &.dragon{
        animation: pulse 1s 4;

        & .dragged-msg{
            display:block;
        }
        & .default-msg{
            display:none;
        }
    }

    // INSIDE TEXT
    & .dragged-msg{
        display:none;

        & .attachment-instructions,
        & .attachment-flair:before
        {
            color: #ffffff;
        }
    }
    & .attachment-instructions{
        font-size: 2em;
        text-align: center;
        color: #999999;
    }

    // INSIDE ICON
    & .attachment-flair{
        display:block;
        text-align: center;

        &:before{
            color: #999999;
            font-size: 2em;
        }
    }

    // INPUT TYPE=FILE
    & input[type=file]{
        display:none;
    }
}

// PREVIEW FILES SECTION
.attachment-preview{
    border-top: 1px solid #999999;
    padding-top: 100px;
    margin-top: 100px;

    & .attachment-item{
        float:left;
        width: 100%;

        & > div{
            border:1px solid #999999;
            margin: 10px;
        }

        & .attachment-counter{            
            color: #444444;
        }
        & .btn-select-file{
            width: 35%;
            margin-bottom: 20px;

            &:hover{
                cursor: pointer;
            }

            & .attachment-icon{
                width: 100%;
            }

        }     
        & span{
            display:block;
        } 

    }

    & .high-details{
        text-align:center;
    }


}
@media(max-width: 400px){
    .attachment-preview .attachment-item{
        width: 100%;
    }
}
@media(min-width: 401px){
    .attachment-preview .attachment-item{
        width: 50%;
    }
}
@media(min-width: 700px){
    .attachment-preview .attachment-item{
        width: 33.3%;
    }
}

@keyframes pulse{
    0%{
        background-color: #FFEE71;
    }
    100%{
        background-color: #2DCA6F;
    }
}

// EDITOR
.editor{
    min-height: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    border-radius: 3px;
    background-color: #EAEAEA;
    color: #444444;
    padding: 10px;
}

// BUTONS 
.action-buttons{
    text-align: right;
}