@import "colors.less";
@import "responsiveconfig.less";


.header-wrapper{
    background-color:@colorMenuBg;
}

.logo-header{
    float:left;
    width: 75%;
   
   & .logo{
       display:inline;
        & .header-img{
            width: 75px;
        }
   }

    & .title-wrapper{
        display:inline;
        & .header-title{
            font-size: 60px;
            font-style:italic;
            letter-spacing: 10px;
        }
    }
}


.menu-wrapper{
    float:right;
    width: 25%;

    & .menu {
        list-style:none;
        margin:0;
        padding:0;

        & .menu-item{
            float:left;
            width: 33.333%;
            text-align:center;

            &.selected{
                background-color: @colorWhite;
                &:hover{
                    background-color: @colorWhite;                    
                }

                & .menu-link{
                    cursor:not-allowed;
                }
            }
            
            &:hover{
                background-color:@colorMenuBgHover;
            }

            & .menu-link{
                & .menu-icon{
                    padding: 10px;
                }
            }
        }        
    }
}

@media(max-width: @mdScreen){
    .logo-header{
        width: 60%;
    }
    .menu-wrapper{
        width: 40%;
    }
}