.header-wrapper{
    background-color:#999999;
}
.header-content{
    float:left;
}

.logo-header{
    width: 10%;
    text-align: right;

    & .logo{
        padding: 10px;
   
        & .header-img{
            width: 100%;
        }

    }

}

.menu-wrapper{
    width: 80%;

    & .menu {
        list-style:none;

        & .menu-item{
            float:left;
            width: 33%;

            & .menu-link{
                color: #ffffff;
                text-decoration: none;
            }
        }        
    }
}

.search-wrapper{
    width: 10%;

    & .btn-search{
        float:right;
    }
}

